* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: aliceblue;
    border-radius: 25px;
    padding: 70px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 140px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.board {
    cursor: pointer;
    width: 70vw;
    height: 90vh;
    background-color: white;
    box-shadow: 0px 20px 10px rgb(155, 185, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin-top: 25px;
    position: relative;
}

.search {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search_bar {
    width: 350px;
    padding: 13px;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 25px;
}

input {
    border: none;
    height: 35px;
    width: 250px;
    position: relative;
    color: rgb(135, 135, 135);
}

input:focus {
    outline: none;
}

i {
    color: rgb(135, 135, 135);
    position: relative;
}

.grid {
    height: 50vh;
    position: relative;
    margin-top: 70px;
    width: 60vw;
}

.row {
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.card {
    align-items: center;
    color: rgb(15, 15, 100);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    width: 33.33%;
}

.card:hover {
    box-shadow: 10px 10px 15px rgb(155, 185, 210);
}

.bill {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.manage {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.upload {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.upload2 {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.video {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.create {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.enterprise {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.feature {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.sales {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.embed {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.faq {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}

.dev {
    border-right: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);
}